.bg-gray{
    height: 10vh;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.m-5{
    margin: 5px;
}
.List{
    background-color: rgb(67, 200, 19);
    height: 50vh;
}
.card{
    width: 500px;
    height: 200px;
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: 70px;
}