@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-button{
    @apply bg-orange-400 text-black border-2 rounded-md border-orange-400 hover:bg-orange-500 hover:text-white cursor-pointer;
}

.logo{
    @apply text-white shadow-md shadow-orange-600 rounded-md hover:text-black cursor-pointer;
}

.button{
    @apply text-black font-semibold border-2  border-transparent rounded-lg my-5 cursor-pointer bg-slate-300 hover:bg-slate-400 px-2; 
}

.setgrid{
    @apply grid grid-cols-3 px-20 gap-10 mt-10;
}


.grid-element{
    @apply  text-center text-2xl border-white border-2 rounded-md hover:border-black p-5  bg-gradient-to-br from-gray-300 to-gray-400;
}

.inputs{
    @apply bg-slate-300 my-4 w-96;
}








/* 
.bg-gray{
    height: 10vh;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.m-5{
    margin: 5px;
}
.List{
    background-color: rgb(39, 63, 31);
    height: 50vh;
}
.card{
    width: 500px;
    height: 200px;
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: 70px;
}

.container{
    height: 100vh;
    margin:  5px auto ;
    background-color: rgb(0, 0, 0);
    width: 70%;
    padding:  10px;
    font-family: 'Courier New', Courier, monospace;
}
.addTasks{
    display: flex;
    justify-content:center;
    background-color: rgb(42, 120, 172);
    border-radius: 10px;
    padding: 10px;
}
.taskList{
    padding: 10px;
    margin-top: 3px;
    background-color: rgb(42, 120, 172);
    border-radius: 10px;
    max-height: 70vh;
    overflow-y: scroll;
}
.eachTask{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(44, 106, 148);
    padding: 5px;
    color: black;

}
.eachTask:hover{
    background-color: rgb(40, 137, 202) ;
    color: white;
}
.check{
    display: flex;
    align-items: center;
    padding-right: 5px;
    font-weight: bold;

}
button{
    margin-left: 10px;
    border: solid transparent 3px;
    border-radius: 20px;
    background-color: rgb(209, 6, 6);
    color: rgb(216, 211, 216);
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
    color: white;
}
button:hover{
    color: white;
}
span{
    font-size: 18px;
}


.text{
    width: 90%;
}

.bg-green{
    background-color: rgb(13, 161, 13);
    border-color: rgb(13, 161, 13);
    box-shadow: 2px 2px 2px rgb(13, 161, 13);
}
.bg-gray{
    background-color: gray;
    font-size: 33px;
}
#taskInput{
    border-color:rgb(44, 106, 148);
    background-color: rgb(44, 106, 148);
    color: black;
    font-size: 25px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 15px;
    height: 50px;
    padding-left: 15px;
    
}

#taskInput:focus{
background-color: rgb(32, 160, 211);
outline: darkcyan;

}

h4{
    font-size: 20px;
}

.font-50{
    font-size: 50px;
}

.clockContainer{
    height: 200vh;
    background-image: url("../public/trees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.position-sticky{
    position:  sticky;
}

.box{
    height: 50vh;
    border: 3px solid black;
    padding: 14px;
}

.stopwatchcontainer{
    font-size: 50px;
    width: 300px;
    border: 10px rgb(136, 136, 43) white;
    border-radius: 20px;
}
.screen{
    background-color: yellow;
    color: black;
}
.buttonContainer{
    background-color: #ebca11;
    padding-bottom: 15px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.flex{
    display: flex;
    justify-content: center;
    margin-top: 100px ;
}
.start{
    background-color: green;
}
.end{
    background-color: red;
}
.reset{
    background-color: blue;
}

 */




